apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ignition.name" . }}-config-files
  labels:
    {{- include "ignition.labels" . | nindent 4 }}
stringData:
  redundancy-primary.xml: |-
{{ include "ignition-common.redundancyXml" (dict "role" "Master" "host" (include "ignition-common.podFQDN" (dict "name" (include "ignition.name" .) "ordinal" 1)) "port" .Values.ignition.service.ports.gan "redundancy" .Values.ignition.redundancy) | indent 4 }}
  redundancy-backup.xml: |-
{{ include "ignition-common.redundancyXml" (dict "role" "Backup" "host" (include "ignition-common.podFQDN" (dict "name" (include "ignition.name" .) "ordinal" 0)) "port" .Values.ignition.service.ports.gan "redundancy" .Values.ignition.redundancy) | indent 4 }}

  {{- if .Values.ignition.spoofMachineId }}
  machine-id: |-
    {{ .Values.ignition.spoofMachineId }}
  {{- end }}
  logback.xml: |-
{{ include "ignition-common.logback" (dict "level" .Values.ignition.logging.level) | indent 4 }}