apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ignition.name" . }}-config-files
  labels:
    {{- include "ignition.labels" . | nindent 4 }}
data:
  redundancy-primary.xml: |-
{{ include "ignition-common.redundancyXml" (dict "role" "Master" "host" (printf "%s-1.%s" (include "ignition.name" .) (include "ignition.name" .)) "port" .Values.ignition.service.ports.gan "redundancy" .Values.ignition.redundancy) | indent 4 }}
  redundancy-backup.xml: |-
{{ include "ignition-common.redundancyXml" (dict "role" "Backup" "host" (printf "%s-0.%s" (include "ignition.name" .) (include "ignition.name" .)) "port" .Values.ignition.service.ports.gan "redundancy" .Values.ignition.redundancy) | indent 4 }}

  {{- if .Values.ignition.spoofMachineId }}
  machine-id: |-
    {{ .Values.ignition.spoofMachineId }}
  {{- end }}
  logback.xml: |-
{{ include "ignition-common.logback" (dict "level" .Values.ignition.logging.level) | indent 4 }}