apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "helm.name" . }}-config-files
  labels:
    {{- include "helm.labels" . | nindent 4 }}
data:
  redundancy-primary.xml: |-
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
    <properties>
    <comment>Redundancy Settings</comment>
    <entry key="redundancy.noderole">Master</entry>
    <entry key="redundancy.gan.pingTimeout">{{ .Values.ignition.redundancy.pingTimeout }}</entry>
    <entry key="redundancy.gan.pingMaxMissed">{{ .Values.ignition.redundancy.pingMaxMissed }}</entry>
    <entry key="redundancy.activehistorylevel">Full</entry>
    <entry key="redundancy.standbyactivitylevel">Cold</entry>
    <entry key="redundancy.gan.pingRate">{{ .Values.ignition.redundancy.pingRate }}</entry>
    <entry key="redundancy.bindinterface"></entry>
    <entry key="redundancy.gan.enableSsl">{{ .Values.ignition.redundancy.enableSsl }}</entry>
    <entry key="redundancy.backupreconnectperiod">10000</entry>
    <entry key="redundancy.joinwaittime">{{ .Values.ignition.redundancy.joinWaitTime }}</entry>
    <entry key="redundancy.gan.websocketTimeout">{{ .Values.ignition.redundancy.websocketTimeout }}</entry>
    <entry key="redundancy.systemstaterevision">0</entry>
    <entry key="redundancy.sync.timeoutSecs">{{ .Values.ignition.redundancy.syncTimeoutSecs }}</entry>
    <entry key="redundancy.maxdisk_mb">{{ .Values.ignition.redundancy.maxDiskMb }}</entry>
    <entry key="redundancy.systemstateuid">00000000-0000-0000-0000-000000000000</entry>
    <entry key="redundancy.masterrecoverymode">{{ .Values.ignition.redundancy.masterRecoveryMode }}</entry>
    <entry key="redundancy.gan.httpConnectTimeout">{{ .Values.ignition.redundancy.httpConnectTimeout }}</entry>
    <entry key="redundancy.gan.httpReadTimeout">{{ .Values.ignition.redundancy.httpReadTimeout }}</entry>
    <entry key="redundancy.gan.host">{{ include "helm.name" . }}-0.{{ include "helm.name" . }}</entry>
    <entry key="redundancy.backupfailovertimeout">{{ .Values.ignition.redundancy.backupFailoverTimeout }}</entry>
    <entry key="redundancy.gan.port">{{ .Values.ignition.service.ports.gan }}</entry>
    <entry key="redundancy.autodetectlocalinterface">true</entry>
    </properties>
  redundancy-backup.xml: |-
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
    <properties>
    <comment>Redundancy Settings</comment>
    <entry key="redundancy.noderole">Backup</entry>
    <entry key="redundancy.gan.pingTimeout">{{ .Values.ignition.redundancy.pingTimeout }}</entry>
    <entry key="redundancy.gan.pingMaxMissed">{{ .Values.ignition.redundancy.pingMaxMissed }}</entry>
    <entry key="redundancy.activehistorylevel">Full</entry>
    <entry key="redundancy.standbyactivitylevel">Cold</entry>
    <entry key="redundancy.gan.pingRate">{{ .Values.ignition.redundancy.pingRate }}</entry>
    <entry key="redundancy.bindinterface"></entry>
    <entry key="redundancy.gan.enableSsl">{{ .Values.ignition.redundancy.enableSsl }}</entry>
    <entry key="redundancy.backupreconnectperiod">10000</entry>
    <entry key="redundancy.joinwaittime">{{ .Values.ignition.redundancy.joinWaitTime }}</entry>
    <entry key="redundancy.gan.websocketTimeout">{{ .Values.ignition.redundancy.websocketTimeout }}</entry>
    <entry key="redundancy.systemstaterevision">0</entry>
    <entry key="redundancy.sync.timeoutSecs">{{ .Values.ignition.redundancy.syncTimeoutSecs }}</entry>
    <entry key="redundancy.maxdisk_mb">{{ .Values.ignition.redundancy.maxDiskMb }}</entry>
    <entry key="redundancy.systemstateuid">00000000-0000-0000-0000-000000000000</entry>
    <entry key="redundancy.masterrecoverymode">{{ .Values.ignition.redundancy.masterRecoveryMode }}</entry>
    <entry key="redundancy.gan.httpConnectTimeout">{{ .Values.ignition.redundancy.httpConnectTimeout }}</entry>
    <entry key="redundancy.gan.httpReadTimeout">{{ .Values.ignition.redundancy.httpReadTimeout }}</entry>
    <entry key="redundancy.gan.host">{{ include "helm.name" . }}-0.{{ include "helm.name" . }}</entry>
    <entry key="redundancy.backupfailovertimeout">{{ .Values.ignition.redundancy.backupFailoverTimeout }}</entry>
    <entry key="redundancy.gan.port">{{ .Values.ignition.service.ports.gan }}</entry>
    <entry key="redundancy.autodetectlocalinterface">true</entry>
    </properties>
  {{- if .Values.ignition.spoofMachineId }}
  machine-id: |-
    {{ .Values.ignition.spoofMachineId }}
  {{- end }}
  logback.xml: |-
{{ include "ignition-common.logback" (dict "level" .Values.ignition.logging.level) | indent 4 }}