{{- if .Values.ignition.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "helm.name" . }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
spec:
  {{- if .Values.ignition.ingress.tls }}
  tls:
    {{- range .Values.ignition.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  {{- if .Values.ignition.ingress.hosts }}
  {{- range .Values.ignition.ingress.hosts }}
  - host: {{ .host | quote }}
    http:
      paths:
      {{- range .paths }}
      - path: {{ .path }}
        pathType: {{ .pathType }}
        backend:
          service:
            name: {{ include "helm.name" $ }}
            port:
              name: http
      {{- end }}
  {{- end }}
  {{- else }}
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "helm.name" . }}
            port:
              name: http
  {{- end }}
{{- end }}